:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* GERAL==================================  */
body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

.container {
  padding-inline: 1.5rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.title {
  text-align: center;

  margin-top: 4rem;
}

.title i {
  display: inline-block;
  margin-bottom: 2rem;
}

.title h2 {
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 3.84rem;

  margin-bottom: 0.8rem;
}

.title p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.72rem;
  color: rgb(128, 128, 128);

  margin-bottom: 7.2rem;
}

/* START================================== */
.start {
  background-color: #f8f9fa;
}

header#header {
  display: flex;
  justify-content: space-between;

  padding-top: 0.5rem;

  margin-bottom: 9.5rem;
}

.menu-scroll {
  position: fixed;
  right: 0;
  top: 0;

  display: flex;
  justify-content: space-between;

  padding: 0.7rem 1.5rem;

  margin-bottom: 9.5rem;

  width: 100%;

  background-color: white;

  z-index: 102;
}

.menu-desktop{
  display: none;
}

.logo {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 3.84rem;
}

.mobile {
  /* display: none; */
  position: fixed;
  top: 0;
  right: -100vw;
  z-index: 100;

  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
}

.menu-open {
  display: flex;
  flex-direction: column;
  gap: 4.2rem;

  padding: 9.3rem 4rem;

  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 65vw;

  background-color: white;

  opacity: 0;
  transition: 0.3s;
}

.menu-open a {
  font-size: 2rem;

  color: rgb(108, 117, 125);
}

.icon-menu,
.icon-close {
  font-size: 2.4rem;
}

.menu-mobile-x {
  position: absolute;

  top: 5px;
  right: 15px;

  z-index: 101;
}

/* SECTION HELLO */
section.hello {
  text-align: center;
}

section.hello h2 {
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 3.84rem;

  margin-bottom: 0.8rem;
}

section.hello p {
  font-size: 1.92rem;
  font-weight: 300;
  line-height: 2.88rem;
  color: rgb(153, 153, 153);

  margin-bottom: 2.4rem;
}

.dog-bg {
  height: 65vh;

  background-image: url(./profile-pic.png);
  background-size: cover;
  background-position: top;
}

/* WELCOME==================================  */
.cards {
  display: grid;
  gap: 6.5rem 0;

  margin-bottom: 10rem;
}
.cards h3 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 3.84rem;

  margin-bottom: 0.8rem;
}

.cards p {
  font-weight: 400;
  line-height: 2.72rem;
  color: rgb(128, 128, 128);

  margin-bottom: 2.4rem;
}

.cards button {
  border: none;
  border-radius: 3rem;

  padding: 1rem 3rem;

  background-color: #a2c0be;

  color: white;
}

/* ABOUT US==================================   */
.about-us .subtitle {
  color: rgb(108, 117, 125);
  font-weight: 400;

  margin-bottom: 2.4rem;
}

.about-us ul {
  text-align: left;

  color: rgb(128, 128, 128);

  margin-bottom: 3.5rem;
}

/* OUR_TRAINERS==================================    */
.our-trainers {
  background-color: #f8f9fa;

  padding-block: 0.3rem;
}

.trainer h4 {
  font-size: 2.08rem;
  font-weight: 500;
  line-height: 2.496rem;

  margin-top: 5rem;
  margin-bottom: 3rem;
}

.social-trainer {
  display: flex;
  gap: 1.1rem;

  margin-top: 2.4rem;
  margin-bottom: 2.8rem;
}

.trainer i {
  color: #5a8787;

  transition: 0.3s;
}

.trainer i:hover {
  display: inline-block;
  transform: translateY(-6px);
}

/* PRICING TABLE==================================     */
.pricing-table-container {
  padding-inline: 1.5rem;

  padding-top: 2.3rem;
  padding-bottom: 3.2rem;

  background-color: #a2c0be;

  text-align: center;
  color: white;
}

.price h4 {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 3.36rem;
  text-transform: uppercase;

  margin-bottom: 0.8rem;
}

.price .dollar {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 8.16rem;

  margin-bottom: 2.4rem;
}

.price .dollar span {
  font-size: 1.6rem;
}

.pricing-table-container ul {
  display: grid;
  align-items: center;
  text-align: left;
  gap: 3rem;
}

.pricing-table-container li {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.pricing-table-container li.line-through {
  text-decoration: line-through;
}

.pricing-table-container button {
  background-color: #6c757d;

  color: white;
  font-weight: 400;
  line-height: 2.4rem;

  border: none;
  border-radius: 3rem;

  padding: 1rem 3rem;

  margin-top: 2rem;
}

.pricing-table-container.premium {
  background-color: #343a40;
}

.pricing-table-container.premium button {
  background-color: #a2c0be;
}

/* HAPPY COSTUMERS==================================      */
.costumers {
  margin-bottom: 4rem;
}

.costumer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.costumer blockquote {
  background-color: #a2c0be;

  padding: 3rem;

  margin-inline: 0.5rem;

  font-size: 1.4rem;
  font-style: italic;
  text-align: center;

  border-radius: 0.7rem;

  margin-top: 8rem;
}

.costumer img {
  border-radius: 10rem;

  width: 10rem;

  border: 1rem solid #a2c0be;

  margin-top: 3.5rem;
  margin-bottom: 2rem;
}

/* BLOG==================================      */
.section-blog {
  margin-bottom: 2.4rem;
}

.blog h3 {
  font-size: 2.08rem;
  font-weight: 500;
  line-height: 2.496rem;

  margin-bottom: 0.8rem;
  margin-top: 1rem;
}

.blog .date {
  font-weight: 400;
  color: rgb(179, 179, 179);
  line-height: 2.72rem;

  margin-bottom: 1.6rem;
}

.blog p {
  font-weight: 400;
  line-height: 2.72rem;
  color: rgb(128, 128, 128);

  margin-bottom: 1.6rem;
}

.blog a {
  display: inline-block;
  color: rgb(162, 192, 190);
  line-height: 2.72rem;

  margin-bottom: 5rem;
}

/* OUR SERVICES==================================       */
.our-services {
  margin-bottom: 4rem;
}

.service img {
  width: 10rem;
}

.service h3 {
  font-size: 2.08rem;
  font-weight: 500;
  line-height: 2.496rem;

  margin-bottom: 1.6rem;
  margin-top: 3rem;
}

.service p {
  line-height: 2.7rem;
  color: rgb(128, 128, 128);

  margin-bottom: 4.4rem;
}

/* CONTACT FORM==================================        */
.contact-form-bg {
  display: flex;
  flex-direction: column;

  padding: 4.8rem;
  background-color: #a2c0be;
}

.contact-form h3 {
  color: rgb(64, 90, 88);
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.88rem;

  margin-bottom: 4.8rem;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  color: rgb(86, 120, 118);
  line-height: 2.72rem;

  margin-bottom: 0.8rem;

  margin-top: 2.4rem;
}

.contact-form input {
  height: 4.3rem;

  padding: 0.6rem 1.2rem;

  border: none;
  border-radius: 0.5rem;

  line-height: 2.4rem;
}

.contact-form form textarea {
  height: 18.2rem;

  line-height: 2.4rem;

  padding: 0.6rem 1.2rem;
}

.contact-form form button {
  background-color: #343a40;

  color: white;
  font-weight: 400;
  line-height: 2.4rem;

  border: none;
  border-radius: 3rem;

  padding: 1rem 3rem;

  margin-top: 2rem;

  width: 16.8703rem;
}

/* CONTACT_US==================================         */
.contact-us-bg {
  display: flex;
  flex-direction: column;

  padding: 4.8rem;

  background-color: #6c757d;
}

.contact-us .title h2 {
  color: white;
}

.contacts h5,
.contact-us p {
  color: white;
  font-size: 1.6rem;
  line-height: 2.72rem;
}

.contact-us span {
  display: inline-block;
  color: #a8b1b6;

  margin-bottom: 2rem;
}

/* FOOTER==================================          */
.footer-bg {
  display: flex;
  flex-direction: column;

  padding: 4.8rem;

  background-color: #333333;
}

.footer h4 {
  color: white;
  font-weight: 500;

  margin-bottom: 2.4rem;
}

.quick-links {
  margin-bottom: 2.4rem;
}

.footer .quick-links a {
  display: inline-block;
  color: rgb(153, 153, 153);

  margin-bottom: 1rem;
}

footer .social-links {
  display: flex;
  gap: 0 3.2rem;

  color: rgb(153, 153, 153);

  margin-bottom: 4.5rem;
}

.footer-final {
  border-top: 1px solid rgb(153, 153, 153);
  padding-top: 2.4rem;
  text-align: center;
  color: rgb(153, 153, 153);
}

.footer-final a {
  color: #5a8787;
}

@media (min-width: 320px) {
  h1,
  h2,
  h3 {
    font-size: 1.8rem;
  }
}

@media (min-width: 750px) {
  .hello {
    display: flex;
  }

  .hello-left{
    text-align: left;

    padding-inline: 1.5rem;

    align-self: center;
  }

  .hello-left h2{
    width: 30.9984rem;
  }

  .dog-bg {
    width: 48%;

    padding:0;
  }

  .card img{
    width: 100%;
  }

  #about-us img{
    width: 100%;
  }

  .trainers{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }

  .trainer{
    width: 33rem;
  }

  .trainer img{
    object-fit: contain;
  }

  .price-lists{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem 0;
  }

  .blogs,
  .services{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }

  .blog,
  .service{
    width: 33rem;
  }

  .service{
    text-align: center;
  }

  .footer-top{
    display: flex;
    justify-content: space-between;
  }

}

@media (min-width: 1024px){

  .container,
  #header.menu-scroll{
    padding: 3rem 10rem;
  }

  /* .header.scroll{

  } */

  #home.hello .hello-left h2{
    font-size: 6.4rem;
    line-height: 7.68rem;
    width: 60.4984rem;
  }

  #home.hello .hello-left p{
    font-size: 1.92rem;
    line-height: 2.88rem;
    width: 40.4984rem;
  }

  .menu-mobile{
    display: none;
  }

  .menu-desktop{
    display: flex;
    gap: 0 4rem;
  }

  .menu-desktop a{
    color: #333333;

    transition: .3s;

    position: relative;
  }

  .menu-desktop a:hover{
    color: #5a8787;
  }

  .menu-desktop a::before{
    content: '';
    position: absolute;
    bottom: 0;

    width: 0;
    height: 1.5px;
    background-color: #5a8787;

    transition: .4s;
  }

  .menu-desktop a:hover::before{
    width: 100%;
  }

  .card{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 13rem;
  }

  .card h3{
    grid-column: 1 / 2;
  }

  .card img{
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    width: 54rem;
  }

  .card img:hover{
    box-shadow: 8px 8px 0px #5a8787;
  }

  .card .text{
    text-align: right;
  }

  .card.reverse img{
    grid-column: 1 / 2;
  }

  .card.reverse .text{
    text-align: left;
  }

  #about-us{
    display: flex;
    justify-content: space-between;

  }

  #about-us img{
    overflow: hidden;

    padding-right: 5rem;

    object-fit: cover;

    width: 54rem;
  }

  #about-us .title p{
    font-size: 2rem;
    line-height: 3.4rem;

    width: 44.5rem;
  }

  #about-us p.subtitle{
    line-height: 2.72rem;

    margin-bottom: 7.5rem;
  }

  #about-us ul li{
    margin-bottom: 1.5rem;
  }

  #about-us .title,
  #about-us .subtitle{
    text-align: left;
  }

  .blogs{
    display: grid;
    grid-template-areas: 
    "1 2"
    "3 4";

    padding: 0;
  }

  .blog-1{
    grid-area: '1';
  }

  .blog-2{
    grid-area: '2';
  }

  .blog-3{
    grid-area: '3';
  }

  .blog-4{
    grid-area: '4';
  }

  .blog{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  .blog img{
    align-self: flex-start;
    width: 19rem;

    object-fit: contain;

    margin-right: 2.6rem;
  }

  #pricing-table,
  #our-trainers,
  .trainers,
  .services{
    justify-content: center;
  }

  #contact-form,
  #contact-us,
  #footer{
    padding-block: 0;
  }
}
